fhda/coin78/Address_Book/address_schema_mixed.xml

<?xml version="1.0"?>
<!--Generated 8/19/2002 2:51:52 PM by EditML Pro, Version 2.5-->
<xsd:schema name="address_book_mixed" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name="nameType">
		<xsd:attribute name="type" type="xsd:string"></xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="name_infoType">
		<xsd:element name="name" type="xsd:string" minOccurs="0" maxOccurs="unbounded"></xsd:element>
	</xsd:complexType>
	<xsd:complexType name="addressType"></xsd:complexType>
	<xsd:complexType name="address_infoType">
		<xsd:element name="address" type="xsd:string" minOccurs="0" maxOccurs="unbounded"></xsd:element>
	</xsd:complexType>
	<xsd:complexType name="phoneType"></xsd:complexType>
	<xsd:complexType name="emailType"></xsd:complexType>
	<xsd:complexType name="contact_infoType">
		<xsd:element name="phone" type="xsd:string" minOccurs="0" maxOccurs="unbounded"></xsd:element>
		<xsd:element name="email" type="xsd:string" minOccurs="0" maxOccurs="unbounded"></xsd:element>
	</xsd:complexType>
	<xsd:complexType name="commentType"></xsd:complexType>
	<xsd:complexType name="commentsType">
		<xsd:element name="comment" type="xsd:string" minOccurs="0" maxOccurs="unbounded"></xsd:element>
	</xsd:complexType>
	<xsd:complexType name="recordType">
		<xsd:attribute name="ID" type="xsd:string"></xsd:attribute>
		<xsd:element name="name_info" type="name_infoType" minOccurs="0" maxOccurs="unbounded"></xsd:element>
		<xsd:element name="address_info" type="address_infoType" minOccurs="0" maxOccurs="unbounded"></xsd:element>
		<xsd:element name="contact_info" type="contact_infoType" minOccurs="0" maxOccurs="unbounded"></xsd:element>
		<xsd:element name="comments" type="commentsType" minOccurs="0" maxOccurs="unbounded"></xsd:element>
	</xsd:complexType>
	<xsd:complexType name="address_bookType">
		<xsd:element name="record" type="recordType" minOccurs="0" maxOccurs="unbounded"></xsd:element>
	</xsd:complexType>
	<xsd:element name="address_book_mixed" type="address_book_mixedType" minOccurs="0" maxOccurs="unbounded"></xsd:element>
</xsd:schema>
