fhda/coin78/Address_Book/address_schema_empty.xml

<?xml version="1.0"?>
<!--Generated 6/23/2002 7:33:20 AM by EditML Pro, Version 2.5-->
<xsd:schema name="address_book_empty" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name="nameType">
		<xsd:attribute name="first_name" type="xsd:string"></xsd:attribute>
		<xsd:attribute name="middle_name" type="xsd:string"></xsd:attribute>
		<xsd:attribute name="last_name" type="xsd:string"></xsd:attribute>
		<xsd:attribute name="nick_name" type="xsd:string"></xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="addressType">
		<xsd:attribute name="street_address" type="xsd:string"></xsd:attribute>
		<xsd:attribute name="street_address_detail" type="xsd:string"></xsd:attribute>
		<xsd:attribute name="city" type="xsd:string"></xsd:attribute>
		<xsd:attribute name="state" type="xsd:string"></xsd:attribute>
		<xsd:attribute name="zipcode" type="xsd:string"></xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="contactType">
		<xsd:attribute name="home_phone" type="xsd:string"></xsd:attribute>
		<xsd:attribute name="work_phone" type="xsd:string"></xsd:attribute>
		<xsd:attribute name="cell_phone" type="xsd:string"></xsd:attribute>
		<xsd:attribute name="fax_number" type="xsd:string"></xsd:attribute>
		<xsd:attribute name="e-mail" type="xsd:string"></xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="commentsType">
		<xsd:attribute name="comment" type="xsd:string"></xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="recordType">
		<xsd:attribute name="ID" type="xsd:string"></xsd:attribute>
		<xsd:element name="name" type="nameType" minOccurs="0" maxOccurs="unbounded"></xsd:element>
		<xsd:element name="address" type="addressType" minOccurs="0" maxOccurs="unbounded"></xsd:element>
		<xsd:element name="contact" type="contactType" minOccurs="0" maxOccurs="unbounded"></xsd:element>
		<xsd:element name="comments" type="commentsType" minOccurs="0" maxOccurs="unbounded"></xsd:element>
	</xsd:complexType>
	<xsd:complexType name="address_book_emptyType">
		<xsd:element name="record" type="recordType" minOccurs="0" maxOccurs="unbounded"></xsd:element>
	</xsd:complexType>
	<xsd:element name="address_book_empty" type="address_book_emptyType" minOccurs="0" maxOccurs="unbounded"></xsd:element>
</xsd:schema>
