fhda/coin78/Address_Book/address_book_mixed.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XML Spy v4.4 U (http://www.xmlspy.com)-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

<xsd:element name="address_book_mixed">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="record" type="recordType" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:complexType name="recordType">
		<xsd:sequence>
			<xsd:element name="name_info" type="name_infoType"/>
			<xsd:element name="address_info" type="address_infoType"/>
			<xsd:element name="contact_info" type="contact_infoType"/>
			<xsd:element name="comments" type="commentsType"/>
		</xsd:sequence>
		<xsd:attribute name="ID" type="xsd:integer"/>
	</xsd:complexType>
	
	<xsd:complexType name="name_infoType">
		<xsd:sequence>
			<xsd:element name="name" type="nameType" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="nameType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="type" use="required">
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:enumeration value="first"/>
							<xsd:enumeration value="last"/>
							<xsd:enumeration value="middle"/>
							<xsd:enumeration value="nick"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	
	<xsd:complexType name="address_infoType">
		<xsd:sequence>
			<xsd:element name="address" type="addressType" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="addressType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="type" use="required">
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:enumeration value="city"/>
							<xsd:enumeration value="detail"/>
							<xsd:enumeration value="state"/>
							<xsd:enumeration value="street"/>
							<xsd:enumeration value="zipcode"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	
	<xsd:complexType name="contact_infoType">
		<xsd:sequence>
			<xsd:element name="phone" type="phoneType" maxOccurs="unbounded"/>
			<xsd:element name="email" type="emailType"/>
		</xsd:sequence>
	</xsd:complexType>
	
		<xsd:complexType name="phoneType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="type" use="required">
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:enumeration value="cell"/>
							<xsd:enumeration value="fax"/>
							<xsd:enumeration value="home"/>
							<xsd:enumeration value="work"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	
	<xsd:complexType name="emailType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="type" type="xsd:string" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
		
	<xsd:complexType name="commentsType">
		<xsd:sequence>
			<xsd:element name="comment" type="commentType"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="commentType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="type" type="xsd:string" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
		
</xsd:schema>
